/* * {
    box-sizing: border-box;
  } */


/* Create three columns of equal width */
.container {
    float: left;
    width: 33.3%;
    padding: 50px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

/* Pricing header__ */
.price .header__ {
    /* background-color: #111; */
    color: white;
    font-size: 25px;;
}

.header__basic {
    background-color: black;
}

.header__ {
    background-color: grey;
}

.header__pro {
    background-color: #04AA6D;
}

/* List items */
.price li {
    border-bottom: 1px solid grey;
    padding: 20px;
    text-align: center;
    color: black;
    /* background-color: #eee; */
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The Sign Up button */
.button {
    background-color: #04AA6D;
    border: none;
    /* color: grey; */
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.li__ {
    background-color: white;
}
 
/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.login__wrap {
    margin-top: 10px;
    margin-left: 10px;
}